.vs/
.vscode/
x64/
**/x64/
Win32/
**/Win32/
Debug/
Release/
*.suo
*.user
*.userosscache
*.sln.docstates
*.ilk
*.iobj
*.ipdb
*.obj
*.pdb
*.idb
*.recipe
*.tlog
*.lastbuildstate
*.exe
*.dll
*.lib
*.exp
*.vcxproj.user
*.VC.db
*.opendb
*.log
*.tmp
*.cache
